/* div{
    background-color: beige;
}
@media screen and (max-width: 600px) {
    p{
        font-size: xx-large;
    }
}
@media screen and (max-width: 900px) {
    div{
        border: 5px outset steelblue;
    }
}
@media screen and (min-width:900px) {
    p{
        font-size: small;
    }
    div{
        border: red solid 2px   ;
    }
} */
p{
    border: 2px red solid;
    width: 200px;
}
div{
    height: 500px;
    border: 1px solid red;
    display: flex;
    /* for postioning content */
    flex-wrap: wrap;

    /* for postioning and giving space to content */
    justify-content: center;
    align-content: space-betwee ;
    align-items: center؛
}